# See https://www.dartlang.org/guides/libraries/private-files

# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/

# dotenv environment variables file
.env*
.flutter-plugins
.flutter-plugins-dependencies

# Additional - added by me
._*
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# Flutter specific platform folders
android/
ios/
macos/
web/
windows/
linux/
fuchsia/

# Dart related files
.dart_tool/
.packages
.idea/
.vscode/
test_coverage/
